<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-button slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="http://s2.glbimg.com/v42PknUjNHer8mislIMigF-w9nY=/s.glbimg.com/po/tt2/f/original/2015/10/15/capturar3.png" />
  <ion-card>
    <ion-card-content>
      <p>Alamat: Jl. Mangga, 111</p>
      <p>Kecamatan: Mlati</p>
      <p>Kabupaten: Sleman</p>
      <p>Provinsi: DIY</p>
      <p>Kode Pos: 55248</p>
      <p>Informasi Tambahan: Rumah oranye hadap barat</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="insert">
      <ion-label position="floating">Catatan</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success">Buat</ion-button>
</ion-content>
